.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 33%;
  justify-content: space-around ;
}

.circular-chart { height: 75px; }

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  &.full_wetness { stroke: $full-wetness-color; }
  &.bit_wetness { stroke: $bit-wetness-color; }
  &.bit_dryness { stroke: $bit-dryness-color; }
  &.full_dryness { stroke: $full-dryness-color; }

  position: relative;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.percentage {
  fill: $opposite-color;
  font-family: sans-serif;
  font-size: 0.66em;
  text-anchor: middle;
}
