.general-color          { color: $general-color; }
.general-opposite-color { color: $general-opposite-color; }
.second-color           { color: $second-color; }
.font-color             { color: $font-color; }
.opposite-color         { color: $opposite-color; }
