.general-color             { color: $general-color; }
.general-opposite-color    { color: $general-opposite-color; }
.second-color              { color: $second-color; }
.third-color               { color: $third-color; }
.font-color                { color: $font-color; }
.opposite-color            { color: $opposite-color; }
.danger-color              { color: $cancel-color; }
.bg-general-color          { background-color: $general-color; }
.bg-general-opposite-color { background-color: $general-opposite-color; }
.bg-second-color           { background-color: $second-color; }
.bg-font-color             { background-color: $font-color; }
.bg-opposite-color         { background-color: $opposite-color; }
.bg-one-color              { background-color: $bg-one-color; }
.bg-two-color              { background-color: $bg-two-color; }