.general-color             { color: $general-color; }
.general-opposite-color    { color: $general-opposite-color; }
.second-color              { color: $second-color; }
.third-color               { color: $third-color; }
.font-color                { color: $font-color; }
.opposite-color            { color: $opposite-color; }
.danger-color              { color: $danger-color; }
.bg-general-color          { background-color: $general-color; }
.bg-general-opposite-color { background-color: $general-opposite-color; }
.bg-second-color           { background-color: $second-color; }
.bg-font-color             { background-color: $font-color; }
.bg-opposite-color         { background-color: $opposite-color; }
.bg-one-color              { background-color: $bg-one-color; }
.bg-two-color              { background-color: $bg-two-color; }

.svg-general-color path            { fill: $general-color; stroke: $general-color; }
.svg-general-opposite-pathcolor    { fill: $general-opposite-color; stroke: $general-opposite-color; }
.svg-second-color path             { fill: $second-color; stroke: $second-color; }
.svg-third-color path              { fill: $third-color; stroke: $third-color; }
.svg-font-color path               { fill: $font-color; stroke: $font-color; }
.svg-opposite-color path           { fill: $opposite-color; stroke: $opposite-color; }
.svg-danger-color path             { fill: $danger-color; stroke: $danger-color; }