@mixin active-effect($color){
  background-color: $color;
  color: $opposite-color;
  border-color: $color;
  &:hover, &:focus {
    background-color: darken($color,10%);
    color: darken($opposite-color,10%);
    border-color: darken($color,10%);
  }
}

@mixin hover-effect($color){
  &:hover, &:focus {
    @include active-effect($color);
  }
}

@mixin section-styles($section){
  @if $section == "dark" {
    color: $opposite-color;
    background-color: $general-opposite-color;

  } @else if $section == "light" {
    color: $font-color;
    background-color: $opposite-color;

  } @else if $section == "primary" {
    color: $opposite-color;
    background-color: $general-color;
  }
}

@mixin cut-text($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
