.smaller-1 { font-size: 80%; }
.smaller-2 { font-size: 40%; }

.bigger-1 { font-size: 120%; }
.bigger-2 { font-size: 200%; }
.biggest  { font-size: 450%; }

// Font basic classes
.weight-1 { font-weight: 200; }
.weight-2 { font-weight: 400; }
.weight-3 { font-weight: 600; }
.weight-4 { font-weight: 800; }

.padding-0        { padding: 0; }
.padding-0-left   { padding-left: 0; }
.padding-0-right  { padding-right: 0; }
.padding-0-top    { padding-top: 0; }
.padding-0-bottom { padding-bottom: 0; }

.padding-1        { padding: 10px; }
.padding-1-left   { padding-left: 10px; }
.padding-1-right  { padding-right: 10px; }
.padding-1-top    { padding-top: 10px; }
.padding-1-bottom { padding-bottom: 10px; }

.padding-2        { padding: 15px; }
.padding-2-left   { padding-left: 15px; }
.padding-2-right  { padding-right: 15px; }
.padding-2-top    { padding-top: 15px; }
.padding-2-bottom { padding-bottom: 15px; }

.padding-3        { padding: 20px; }
.padding-3-left   { padding-left: 20px; }
.padding-3-right  { padding-right: 20px; }
.padding-3-top    { padding-top: 20px; }
.padding-3-bottom { padding-bottom: 20px; }

.padding-4        { padding: 25px; }
.padding-4-left   { padding-left: 25px; }
.padding-4-right  { padding-right: 25px; }
.padding-4-top    { padding-top: 25px; }
.padding-4-bottom { padding-bottom: 25px; }

.no-padding       { padding: 0; }
.no-padding-left  { padding-left: 0 }
.no-padding-right { padding-right: 0 }
.no-padding-top   { padding-top: 0 }
.no-padding-bottom{ padding-bottom: 0 }

.margin-1        { margin: 10px; }
.margin-1-left   { margin-left: 10px; }
.margin-1-right  { margin-right: 10px; }
.margin-1-top    { margin-top: 10px; }
.margin-1-bottom { margin-bottom: 10px; }

.margin-2        { margin: 15px; }
.margin-2-left   { margin-left: 15px; }
.margin-2-right  { margin-right: 15px; }
.margin-2-top    { margin-top: 15px; }
.margin-2-bottom { margin-bottom: 15px; }

.margin-3        { margin: 20px; }
.margin-3-left   { margin-left: 20px; }
.margin-3-right  { margin-right: 20px; }
.margin-3-top    { margin-top: 20px; }
.margin-3-bottom { margin-bottom: 20px; }

.margin-4        { margin: 25px; }
.margin-4-left   { margin-left: 25px; }
.margin-4-right  { margin-right: 25px; }
.margin-4-top    { margin-top: 25px; }
.margin-4-bottom { margin-bottom: 25px; }

.no-margin        { margin: 0; }
.no-margin-top    { margin-top: 0; }
.no-margin-bottom { margin-bottom: 0; }
.no-margin-left   { margin-left: 0; }
.no-margin-right  { margin-right: 0; }

.border-radius-0, .btn.border-radius-0 { border-radius: 0 }

.inline { display: inline; }
.inline-block { display: inline-block; }
.table { display: table; width: 100%; }
.table-cell { display: table-cell; }
.vbottom { display: inline-block; vertical-align: bottom; float: none; }
.relative { position: relative; }
.absolute { position: absolute; }

.vline-top { vertical-align: top }
.vline-middle { vertical-align: middle }
.vline-bottom { vertical-align: bottom }

.text-align-center { text-align: center }

.no-scroll { overflow: hidden; }
