@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico:300,400,500,600,700');
$general-font: 'Libre Franklin', sans-serif;
$header-font:  'Pacifico', cursive;

$general-color:       #3ae092;
$opposite-color:      #fff;
$font-color:          #444;
