@import url('https://fonts.googleapis.com/css?family=Roboto:100,200:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico:300,400,500,600,700');

$general-font: 'Roboto', sans-serif;
$header-font:  'Pacifico', cursive;

$general-color:             darken(#18BC9C, 12%);
$general-opposite-color:    darken(#18BC9C, 12%);
$second-color:              darken($general-color, 5%);
$third-color:               #441d38;
$cancel-color:              #d9534f;
$opposite-color:            #fff;
$font-color:                #444;
$link-hover-color:          lighten($general-color, 30%);
$background-color:          $general-color;
$background-opossite-color: $general-color;
$bg-one-color:              #DADFDF;
$bg-two-color:              #F6F3F3;

$non-data-color: lighten($font-color, 35%);

$full-wetness-color: rgb(96, 199, 76);
$bit-wetness-color: rgb(146, 199, 76);
$bit-dryness-color: rgb(199, 191, 76);
$full-dryness-color: rgb(199, 135, 76);

$connection-less-than-5-color: rgb(96, 199, 76);
$connection-less-than-10-color: rgb(146, 199, 76);
$connection-less-than-15-color: rgb(199, 191, 76);
$connection-less-than-20-color: rgb(199, 135, 76);