@import "shared/_mixin";
@import "shared/_unitaries";
@import "shared/_variables";
@import "shared/_colors";
@import "shared/_positions";
@import "shared/custom_buttons";

* { transition: all 500ms ease; }

html, body {
  height: 100%;
}

html {
  overflow: hidden;

  body {
    overflow-y: auto;
    overflow-x: hidden;
    font-family: $general-font;
    font-size: 14px;

    h1,h2,h3,h4,h5,h6 { font-weight: 300  }
    header.logged { box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2); }
    header {
      width: 100%;
      height: auto;
      color: $opposite-color;
      background: transparent;
    }

    footer {
      width: 100%;
      height: 50px;
      color: $opposite-color;
      background: transparent;
      position: absolute;
      bottom: 0;
      z-index: 10;
    }
    a {
      text-decoration: none;
      &:hover, &:focus { text-decoration: none; }
    }
    span.inline {
      display: table-cell;
      vertical-align: middle;
      position: relative;
      border-collapse: separate;
    }

    #content {
      min-height: 90%;
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .tab-content { background-color: $opposite-color; }
      .content { width: 100%; }
    }
    #growls.default {
      top: 0;

      .growl {
        width: 100%;
        border-radius: 0;

        .growl-close {
          border: 1px solid #fff;
          border-radius: 50%;
          padding: 0 5px 1px;
        }
      }
    }

    &.logged {
      color: $font-color;

      header {
        .navbar-default {
          vertical-align: middle;
          height: 100%;
          border-radius: 0;
        }
      }
    }

    .actions { @extend .pt-3; }
    .plantcare-icon {
      font-family: $header-font;
      background-size: 30px;

      a {
        color: $opposite-color;
        &:hover { color: inherit; }
      }
    }
    .header-field {
      @extend .custom-btn;
      border: none;

      &:hover { color: inherit; }
    }
    .loading-overlay {
      top: 0;
      position: fixed;
      display: table;
      height: 100%;
      width: 100%;
      z-index: 999;
      padding: 0;
      background: rgba(0, 0, 0, 0.6);

      .content {
        display: table-cell;
        position: relative;
        .spinner {
          margin: auto;
          z-index: 1;
        }
      }
    }
  }
}
