@import "shared/_mixin";
@import "shared/_unitaries";
@import "shared/_variables";
@import "shared/_colors";
@import "shared/_positions";
@import "shared/custom_buttons";

* {
  &:hover, &:focus {
    transition: all 500ms ease;
  }
}

html, body {
  height: 100%;
}

html {
  overflow: hidden;

  body {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    font-family: $general-font;
    font-weight: 400;
    font-size: 14px;

    h1, h2, h3, h4, h5, h6 { font-weight: 300; }

    h1 {
      font-size: 48px;
      font-weight: 400;
    }

    h2 { font-size: 40px; }

    h3 { font-size: 32px; }

    header {
      width: 100%;
      height: 8vh;
      color: $font-color;
      background: transparent;

      .profile {
        margin: 5px;

        h5 { color: $opposite-color; }

        .fi {
          font-size: 30px;
          vertical-align: middle;
        }
      }
    }

    footer {
      width: 100%;
      height: 50px;
      color: $opposite-color;
      background: transparent;
      position: absolute;
      bottom: 0;
      z-index: 10;
    }

    a {
      text-decoration: none;
      &:hover, &:focus {
        text-decoration: none;
      }
    }

    span.inline {
      display: table-cell;
      vertical-align: middle;
      position: relative;
      border-collapse: separate;
    }

    section {
      width: 100%;
      padding: 1% 3%;
      display: table;
      position: relative;
      margin: 0;
      max-width: none;
      height: 100vh;

      &.intro { height: 92vh; }

      .content {
        display: table-cell;
      }
    }

    #content {
      font-weight: 400;

      .plantcare-icon {
        padding-top: 100px;
        .explaining {
          color: $opposite-color;

          .explain-ico {
            height: 80px;
            margin: 0 auto;
          }
        }
      }
    }

    &.logged {
      color: $font-color;

      header {
        .navbar-default {
          background: $general-opposite-color;
          vertical-align: middle;
          height: 100%;
          border-radius: 0;
        }
      }
    }

    .actions { @extend .padding-2-top; @extend .padding-2-bottom; }

    .plantcare-ico {
      font-family: $header-font;
      padding-left: 45px;
      background-size: 40px;

      a {
        &:hover {
          color: inherit;
        }
      }
    }

    .header-field {
      @extend .custom-btn;
      border: none;

      &:hover { color: inherit; }
    }

    #growls.default {
      top: 0;

      .growl {
        width: 100%;
        border-radius: 0;

        .growl-close {
          border: 1px solid #fff;
          border-radius: 50%;
          padding: 0 5px 1px;
        }
      }
    }
  }
}
