@media only screen and (max-width: $screen-sm-max) {
  html {
    body {
      .no-padding-mobile { padding: 0; }

      &.users {
        &.welcome {
          #content {
            .plantcare-welcome-icons {
              .explaining {
                .explain-ico { height: 250px; }
              }
            }
          }
        }
      }

      &.plantcares {
        &.index {
          #content {
            .banner-title {
              height: 230px;
              .banner-text {
                bottom: 70px;
                right: 40px;
              }
            }

            .action {
              width: 33.3%;
              height: 33.3%;
            }
          }
        }
      }
    }
  }
  .growl {
    &.growl-medium {
      width: 95%;
    }
  }
}
