@media only screen and (max-width: $screen-sm-max) {
  html {
    body {
      .no-padding-mobile { padding: 0; }

      &.plantcares {
        &.index {
          #content {
            .banner-title {
              height: 230px;
              .banner-text {
                bottom: 70px;
                right: 40px;
              }
            }

            .action {
              width: 33.3%;
              height: 33.3%;
            }
          }
        }
      }
    }
  }
  .growl {
    &.growl-medium {
      width: 95%;
    }
  }
  body {
    &.users {
      &.welcome {
        .navbar { display: none; }
        padding-top: 20px;
      }
    }
  }

  body {
    &.users, &.sessions {
      .bigger-1 { font-size: 105%; }
      .bigger-2 { font-size: 150%; }
      .bigger-3 { font-size: 250%; }
      .biggest  { font-size: 350%; }
    }
  }

  .plantcare-icon { text-align: center; }
}
