.form-group
  = f.text_field :nif, class: 'form-control', placeholder: I18n.t('users.wtever_api.attributes.email')
.form-group
  = f.text_field :pc, class: 'form-control', placeholder: I18n.t('users.wtever_api.attributes.pc')
.form-group
  = f.text_field :city, class: 'form-control', placeholder: I18n.t('users.wtever_api.attributes.city')
.form-group
  = f.text_field :state, class: 'form-control', placeholder: I18n.t('users.wtever_api.attributes.state')
