.form-group
  = f.select :country_code, countries_collection, { prompt: true }, { class: "form-control" }
.form-group
  = f.select :timezone, timezones_collection, { prompt: true }, { class: "form-control" }
.form-group
  = f.select :lang, lang_collection, { prompt: true }, { class: "form-control" }
