= form_for @user, url: { action:'create' }, method: :post do |f|
  = render partial: 'users/basic_form_fields', locals: { f: f }
  = render 'shared/form/submit', f: f, submit_class: 'custom-btn-primary'
