= form_for @user, url: session_path(@user), method: 'post' do |f|
  = f.text_field :username, class: 'form-control'
  = f.password_field :password, class: 'form-control'
  = f.submit, { class: 'btn btn-primary' }
