= form_for @user, url: sessions_path, method: 'post', id: 'signin_form', remote: (defined?(remote) ? remote : false)  do |f|
  .form-group
    = f.email_field :email, class: 'form-control', placeholder: I18n.t('users.wtever_api.attributes.email')
    
  .form-group
    = f.password_field :password, class: 'form-control', placeholder: I18n.t('users.wtever_api.attributes.password')
