.form.content.vline-middle.flex.flex-direction-column.flex-justify-center.align-center.pb-4
  = render partial: 'shared/title', locals: { title: I18n.t('users.confirmation.title'), subtitle: I18n.t('users.confirmation.subtitle', signin_link: signin_path) }
