%nav.navbar.navbar-default
  - if content_for?(:header)
    = yield(:header)
  - else
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.pt-3.collapsed{"aria-expanded" => "false", "data-target" => "#plantcare-navbar", "data-toggle" => "collapse", "type" => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-brand
          %h2.plantcare-icon.m-0
            = link_to I18n.t('title'), root_path
      #plantcare-navbar.collapse.navbar-collapse
        - if logged?
          = render partial: 'shared/user_actions'
