/ Button to toggle the modal
.btn.btn-link{"href" => "#${1:mymodal}", "role" => "button", "data-toggle" => "modal"}
  ${2:button_content}

/ Modal for editing piece's metadata.
.modal.hide.fade#${1:mymodal}{"role"=>"dialog", "aria-labelledby" => "${1:mymodal}Label", "aria-hidden" => "true"}
  .modal-header
    %button.close{"data-dismiss" => "modal", "aria-hidden" => "true"}
      x
    %h3#${1:mymodal}Label
      = title

  .modal-body
    = yield(:modal) if content_for?(:modal)

  .modal-footer
    / Don't need submit button then
    %button.btn.btn-primary{:class => 'save-button', "data-loading-text" => "分配中…" } 分配
    %button.btn{"data-dismiss" => "modal", "aria-hidden" => "true"}
      关闭
