- title    ||= ''
- subtitle ||= ''
- dark ||= false

.title.mt-0.mb-4.pt-3.pb-3.text-center.opposite-color
  - if title.present?
    %h1.text-uppercase.mb-0{ class: "#{dark ? "font-color" : "" }" }
      = raw title

  - if subtitle.present?
    %h4.m-0.weight-2{ class: "#{dark ? "font-color" : "" }" }
      = raw subtitle
