- title    ||= ''
- subtitle ||= ''
- dark ||= false
- classes ||= "text-center"

.title.p-2.third-color{ class: classes }
  - if title.present?
    %h1.biggest.mb-3{ class: "#{dark ? "font-color" : "" }" }= raw title

  - if subtitle.present?
    .row
      .col-xs-12.col-md-8.col-md-offset-2
        %h4.bigger-2.mt-1.weight-1{ class: "#{dark ? "font-color" : "" }" }= raw subtitle
