- title    ||= ''
- subtitle ||= ''
- dark ||= false

.title.p-2.text-center.third-color
  - if title.present?
    %h1.mb-2{ class: "#{dark ? "font-color" : "" }" }
      = raw title

  - if subtitle.present?
    %h4.m-0.weight-2{ class: "#{dark ? "font-color" : "" }" }
      = raw subtitle
