- if plantcare.watered_at
  %h5.m-1.weight-2{ alt: I18n.t("plantcares.wtever_api.attributes.watered_at") }
    = fa_icon "fal fa-hand-holding-water vline-bottom"
    .inline-block.vline-bottom
      = plantcare.watered_at

- if plantcare.status
  %h5.m-1.weight-2{ alt: I18n.t("plantcares.wtever_api.attributes.status") }
    = plantcare_status_icon(plantcare)
    .inline-block.vline-bottom.pl-1
      = plantcare_status_text(plantcare)
