.col-xs-12.col-sm-6.col-md-4
  .plantcare{ style: plantcare_picture(plantcare) }
    = render partial: 'plantcares/common_details',
            locals: { plantcare: plantcare, show_watering: true }

    .title.text-center
      = link_to edit_plantcare_path(plantcare.id) do
        %h3.text-uppercase.mb-0.weight-1.opposite-color
          = plantcare.name
        %h4.m-0.weight-2.opposite-color
          = I18n.t('plantcares.edit.title')
