@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import "fontawesome/fontawesome";
@import "fontawesome/light";
@import "fontawesome/solid";
@import "fontawesome/regular";
@import "growl/jquery.growl";
@import "magic/magic";
@import "spinkit/spinkit";
@import "flaticon/flaticon";

@import 'shared/main';
@import 'shared/custom_bootstrap';

@import 'jquery.fileupload';
@import 'jquery.fileupload-ui';

@import 'users';
@import 'sessions';
@import 'plantcares';
@import 'shared/mobile';
@import 'shared/variables';


.last-connections-panel {
  justify-content: center;
  align-items: center;

  .last-connections-right-panel, .last-connections-right-panel {
    display: inline-flex;
    flex-direction: column;
  }
}

.connection-less-than-5 { color: $connection-less-than-5-color; }
.connection-less-than-10 { color: $connection-less-than-10-color; }
.connection-less-than-15 { color: $connection-less-than-15-color; }
.connection-less-than-20 { color: $connection-less-than-20-color; }
.connection-non-data { color: $non-data-color; }

.pagination {
  text-align: center;
  padding: 0;

  a {
    display: block;
    color: $general-color;
    text-decoration: none;
  }

  span {
    display: inline-block;
    font-size: 1em;
    margin: 0 0.3em;
  }

  .page {
    text-decoration: none;
    padding: 5px 7px;
    border: 2px solid $general-color;
    color: $font-color;

    a { color: $general-color; }

    &.current {
      background-color: $general-color;
      color: $opposite-color;
      border-color: $general-color;
      &:hover, &:focus {
        background-color: darken($general-color,10%);
        color: darken($opposite-color,10%);
        border-color: darken($general-color,10%);
      }
    }

    &:hover, &:focus {
      background-color: darken($general-color,10%);
      color: darken($opposite-color,10%);
      border-color: darken($general-color,10%);
      a { color: darken($opposite-color, 10%); }
    }
  }
}