// Place all the styles related to the Plantcares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  &.plantcares {
    &.index {
      #content {
        background: $general-color asset-url('plantcare-bg.jpg') right no-repeat;
        background-size: auto;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: rgba(0,0,0,0.3);
        }
      }
    }

    .action {
      padding: 10px;
      background: $general-color;
      color: $opposite-color;
      height: 120px;
      width: 120px;
      display: block;
      float: left;
      @extend .custom-btn-active;

      img {
        height: 80px;
        margin: auto;
      }
    }
  }
}
