// Place all the styles related to the Plantcares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  &.plantcares {
    @include section-styles("light");

    &.index {
      #content {
        position: relative;

        section.intro {
          background: asset-url('plantcare-bg.jpg') top no-repeat;
          background-size: cover;

          h1, h2, h3, h4, h5, h6 { color: $opposite-color; position: relative; }

          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,0.5);
          }
        }

        section {
          background-color: $opposite-color;
          color: $font-color;
        }
      }

      .plantcare {
        border-bottom: 6px solid $general-color;
        cursor: pointer;
      }
    }

    .plantcare {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      height: 40vh;

      &:before {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
      }

      .explain-ico {
        display: inline-block;
        width: 25px;
        padding-right: 5px;
      }

      .title {
        position: absolute;
      	top: 50%;
      	left: 50%;
      	transform: translate(-50%, -50%);
      	width: 100% ;
      }
    }
  }
}
