@import "circular_chart/circular_chart";
@import "switch/switch";

body {
  &.plantcares {
    &.index {
      background-color: transparent;
      .the-garden, .the-instructions { min-height: 100vh; }
    }
    .plantcare-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .plantcare-card {
        display: flex;
        box-shadow: 0 4px 8px -4px rgba(0,0,0,0.4);
        background: $opposite-color;

        .image-card {
          width: 19rem;
          height: 25rem;
          position: relative;

          .plantcare-info {
            z-index: 99;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100% ;
          }

          .watering-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          .goto-edit {
            display: flex;
            justify-content: flex-end;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            position: relative;
          }
          &:after {
            content: ' ';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,0.7);
          }
        }
        .plantcare-body {
          width: 18rem;
          display: flex;
          justify-content: center;
          flex-direction: column;
          .explain-ico {
            display: inline-block;
            width: 25px;
            padding-right: 5px;
          }
        }
      }
    }

    .plantcare {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      height: 40vh;
      width: 100%;

      &:before {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.62);
      }

      .title {
        position: absolute;
      	top: 68%;
      	left: 50%;
      	transform: translate(-50%, -50%);
      	width: 100% ;
      }
    }

    .detail {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .full_wetness { color: $full-wetness-color; }
      .bit_wetness { color: $bit-wetness-color; }
      .bit_dryness { color: $bit-dryness-color; }
      .full_dryness { color: $full-dryness-color; }
      .non_data { color: $non-data-color; }
    }

    .instruction-step {
      --notchSize: 20px;
      padding: 10px 20px;
      margin: 10px;
      background: #fcfcfc;
      clip-path: polygon(0% var(--notchSize),
          var(--notchSize) 0%,
          calc(100% - var(--notchSize)) 0%,
          100% var(--notchSize),
          100% calc(100% - var(--notchSize)),
          calc(100% - var(--notchSize)) 100%,
          var(--notchSize) 100%,
          0% calc(100% - var(--notchSize)));
    }

    .watering-schedule-panel, .watering-panel {
      .watering-schedule-left-panel, .watering-left-panel {
        display: inline-flex;
        align-items: center;
      }
      .watering-schedule-right-panel, .watering-right-panel {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        margin: 5px;
      }
    }

    .plantcare-details {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}
