// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  &.sessions {
    &.new {
      @include section-styles("primary");

      #content {
        .title {
          h1 {
            margin-bottom: 30px;
          }
        }
        .plantcare-icon {
          padding-top: 100px;

          .explaining {
            color: $opposite-color;

            .explain-ico {
              height: 80px;
              margin: 0 auto;
            }

            big {
              display: block;
              padding-bottom: 10px;
            }
          }
        }
      }
    }

    header {
      color: $opposite-color;
    }
  }
}
