// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
  &.users {
    &.welcome, &.new, &.create, &.confirmation {
      @include section-styles("primary");
      header { color: $opposite-color; }

      .plantcare-welcome-icons {
        .explaining {
          color: $opposite-color;

          .explain-ico {
            height: 250px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
