.watering-info
  %h6.weight-2.m-0.vline-middle.opposite-color
    = I18n.t("watering.next", programmed_at: watering.programmed_at,
                              duration_amount: watering.duration_amount,
                              duration_unit: watering.short_duration_unit).html_safe

  = link_to watering_path(watering), method: :delete, data: { confirm: I18n.t("confirmation") },
            class: "opposite-color pl-1 bigger-1" do
    = fa_icon "far fa-times-circle"