= modal_for("new_watering", nil, { footer: false }) do
  - capture_haml do
    = form_for @watering, url: { controller: "waterings", action: "create" }, method: :post do |f|
      = render partial: 'form', locals: { f: f }